<ion-header>
  <ion-toolbar>
    <ion-buttons >
      <ion-back-button slot="start" ></ion-back-button>
    </ion-buttons>
    <ion-title>detall</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card >
    <ion-card-header>
      <ion-img src="{{moto.foto}}"></ion-img>
      <ion-card-title>{{moto.modelo}}</ion-card-title>
      <ion-card-subtitle>{{moto.marca}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Lorem ipsum dolor, sit amet consectetur 
        adipisicing elit. Eos, unde incidunt 
        repudiandae enim reprehenderit ab? Odio 
        aliquam iure magnam nesciunt.</p>
    </ion-card-content>
    <ion-button (click)="borrar(moto.id)">Borrar Moto</ion-button>
  </ion-card>


</ion-content>
