<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Mis Motos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="custom" contentId="main" >
  <ion-header>
      <ion-toolbar>
          <ion-title>Menu</ion-title>
      </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-list>
        
          <ion-item (click)="getJsonFiltre('Ducati');"><img src="/assets/ducati.png"/>Ducati</ion-item>
          <ion-item (click)="getJsonFiltre('Yamaha')"><img src="/assets/yamaha.png"/>Yamaha</ion-item>
          <ion-item (click)="getJsonFiltre('Honda')"><img src="/assets/honda.png"/>Honda</ion-item>
          <ion-item (click)="getJson()"><b>Todas</b></ion-item>
      </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>

<ion-content >
    <ion-list *ngFor="let moto of (motos)">
        <ion-item>
          <ion-label (click)="vistadetall(moto)">
            <img src="{{moto.foto}}" style="width: 50px;">
            <h3 >{{moto.modelo }}</h3>
          </ion-label>
        </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="add()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
