<ion-header>
  <ion-toolbar>
    <ion-buttons >
      <ion-back-button slot="start" ></ion-back-button>
    </ion-buttons>
    <ion-title>Add</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <label for="foto">
      <img id="icon" src="/assets/camara.svg">
    </label>
    <input id="foto" type="file" name="foto" accept="image/*" capture="camera" />
  </ion-item>
<ion-input placeholder="Marca" [(ngModel)]="marca"></ion-input>
<ion-input placeholder="Modelo" [(ngModel)]="modelo"></ion-input>
<ion-input placeholder="Año" [(ngModel)]="year"></ion-input>
<ion-input placeholder="Precio" [(ngModel)]="precio"></ion-input>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="add()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
